.add-fav{
    float: right;
    background: url('../../assets/follow.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 32px;
    height: 32px;
}

.remove-fav{
    float: right;
    background: url('../../assets/unfollow.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 32px;
    height: 32px;
}

.metric_unit{
    float: right;
    background: url('../../assets/celsius.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 32px;
    height: 32px;
}

.imperial_unit{
    float: right;
    background: url('../../assets/farenheit.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 32px;
    height: 32px;
}

.weatherContainer {
    display: flex;
    justify-content: space-between;
} 

@media only screen and (max-width: 650px) {
    .weatherContainer {
      flex-direction: column;
      align-items: center;
    }
  }